# 1. Perulangan

In [1]:
#SINTAKS FOR
for i in range (0,1):
    print(i)

0

In [2]:
#SINTAKS FOR
for i in range (0,4):
    print(i)

0
1
2
3

In [3]:
#SINTAKS FOR
for i in range (1,4):
    print(i)

1
2
3

In [4]:
#SINTAKS FOR
for i in range (0,4):
    print(i**3)

0
1
8
27

In [5]:
#SINTAKS WHILE
i=0
while i<10:
    print(i)
    i=i+3

0
3
6
9

In [6]:
#SINTAKS FOR
for j in range(0,10,2):
    print(j,j**2)

0 0
2 4
4 16
6 36
8 64

# 2. List

In [7]:
#Deklarasi List

#Dapat berisi angka
nilai = [30,40,50.60,70,80,90]
print(nilai)

#dapat berisi string
peserta=['Ani', 'Budi']

#dapat juga campuran
campuran=['bunga', 2.5, 16]
print(campuran)

[30, 40, 50.6, 70, 80, 90]
['bunga', 2.5, 16]

In [8]:
nilai = [30,40,50,60,70,80,90]

In [9]:
nilai = [30,40,50,60,70,80,90]
print[0]
print[3]
print[-1]
print[-3]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [10]:
nilai = [30,40,50,60,70,80,90]
print(nilai[0])

30

In [11]:
nilai = [30,40,50,60,70,80,90]
print(nilai[0])
print(nilai[3])
print(nilai[-1])

30
60
90

In [14]:
nilai.append(10)
nilai.append(20)
print(nilai)
#append untuk nambahin nilai ke list yang udah ada

[30, 40, 50, 60, 70, 80, 90, 10, 20, 10, 20, 10, 20]

In [16]:
nilai.append(90)
nilai.extend([10,20,30,40])
#extend untuk nambahi list dalam list
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90, 10, 20, 30, 40]

In [20]:
del nilai[-1]
print(nilai)

[40, 50, 60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90, 10]

In [21]:
del nilai[0]
print(nilai)

[50, 60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90, 10]

In [22]:
print(nilai)

[50, 60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90, 10]

In [23]:
del nilai[0]
print(nilai)

[60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90, 10]

In [24]:
del nilai[-1]
print(nilai)

[60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90]

# 3. Slicing List

In [27]:
print(nilai)

#elemen ke-3 sampe 5 ditampilkan
print(nilai[2:5])

#elemen dari awal hingga ke-3 terakhir ditampilkan, 2 elemen terakhir dihapus
print(nilai[:-2])

#elemen ke-6 hingga terakhir ditampilkan
print(nilai[5:])

#semua elemen ditampilkan
print(nilai[:])

[60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90]
[80, 90, 10]
[60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30]
[20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90]
[60, 70, 80, 90, 10, 20, 10, 20, 10, 20, 90, 10, 20, 30, 40, 90]

# 4. Perulangan dalam List

In [31]:
for n in nilai:
    print(n)

#mengikutkan indeksnya
for i,n in enumerate(nilai):
    print(i,n)

60
70
80
90
10
20
10
20
10
20
90
10
20
30
40
90
0 60
1 70
2 80
3 90
4 10
5 20
6 10
7 20
8 10
9 20
10 90
11 10
12 20
13 30
14 40
15 90

In [33]:
#Algoritma rerata
nilai=[30,40,50,60,70,80,90]
total=0
for n in nilai:
    total=total+n

#fungsi len untuk melihat jumlah populasi dalam nilai
rata=total/len(nilai)
print(rata)

60.0

# 5. Lookup nilai dalam list

In [38]:
n=90
if n in nilai:
    print(n,"ada dalam list")
else:
    print(n,"tidak ada dalam list")

90 ada dalam list

In [39]:
n=92
if n in nilai:
    print(n,"ada dalam list")
else:
    print(n,"tidak ada dalam list")

92 tidak ada dalam list

## 2.5 Latihan

Tampilkan nilai dari list yg lebih dari sama dengan

tugas=['66','77','88','99','55','54']
Tampilkan nilai dari list tugas yang genap

In [41]:
a=6%2
print(a)

0

In [43]:
tugas=[66,77,88,99,55,54]

#untung menampilkan genap
for i in tugas:
    if i%2==0:
        print(i)

66
88
54

In [44]:
tugas=[66,77,88,99,55,54]

#untuk menampilkan ganjil
for i in tugas:
    if i%2!=0:
        print(i)

77
99
55

In [45]:
tugas=[66,77,88,99,55,54]

#untung menampilkan genap
for i in tugas:
    if i%2==0:
        print(i)
    print("-")

66
-
-
88
-
-
-
54
-

In [46]:
tugas=[66,77,88,99,55,54]

#untung menampilkan genap
for i in tugas:
    if i%2==0:
        print(i)
print("-")

66
88
54
-

In [47]:
tugas=[66,77,88,99,55,54]

#untung menampilkan genap
for i in tugas:
    if i%2==0:
        print(i)
        print("-")

66
-
88
-
54
-

# Tuple

In [ ]:
#Deklarasi tuple pada dasarnya cara akses elemennya kayak list yg isinya angka

In [59]:
siswa={'Nama':"Budi", 'Umur':7, 'Jenis Kelamin': 'Laki-laki'}
siswa2={'Nama':"Ani", 'Umur':8, 'Jenis Kelamin': 'Perempuan'}
print(siswa)
print(siswa['Nama'])

list_siswa=[]
list_siswa.append(siswa)
list_siswa.append(siswa2)

print(list_siswa)
print(list_siswa[0])
print(list_siswa[1])

{'Nama': 'Budi', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki'}
Budi
[{'Nama': 'Budi', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki'}, {'Nama': 'Ani', 'Umur': 8, 'Jenis Kelamin': 'Perempuan'}]
{'Nama': 'Budi', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki'}
{'Nama': 'Ani', 'Umur': 8, 'Jenis Kelamin': 'Perempuan'}

In [60]:
for k,v in siswa.items():
    print(k,v)

Nama Budi
Umur 7
Jenis Kelamin Laki-laki

In [61]:
# mengubah nilai dictionary

siswa['Nama']='Deni'
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki'}

In [63]:
#menambahkan elemen

siswa['alamat']="jl kaliurang"
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki', 'alamat': 'jl kaliurang'}

In [64]:
siswa['nilai']=nilai
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'Jenis Kelamin': 'Laki-laki', 'alamat': 'jl kaliurang', 'nilai': [30, 40, 50, 60, 70, 80, 90]}

In [71]:
for l in list_siswa:
    print("===========================")
    for k,v in l.items():
        print(k,v)

===========================
Nama Deni
Umur 7
Jenis Kelamin Laki-laki
alamat jl kaliurang
nilai [30, 40, 50, 60, 70, 80, 90]
===========================
Nama Ani
Umur 8
Jenis Kelamin Perempuan

# 5. Operasi String

In [76]:
nama="tutorial bahasa pemrograman phyton"
print(nama[0:6])
print(nama[20:30])
print(nama[-6:])
print(nama[:-6])

tutori
ograman ph
phyton
tutorial bahasa pemrograman

# mengubah string menjadi list kata

In [82]:
kata=nama.split()
print(kata)
print(kata[-1])

['tutorial', 'bahasa', 'pemrograman', 'phyton']
phyton

In [90]:
paragraf="Pada hari minggu kuturut ayah ke kota. Naik delman istimewa kududuk di muka. Kududuk samping pak jkusir yg sedang bekerja"
kalimat=paragraf.split(".")
print(kalimat)

for k in kalimat:
    print(k.split())

['Pada hari minggu kuturut ayah ke kota', ' Naik delman istimewa kududuk di muka', ' Kududuk samping pak jkusir yg sedang bekerja']
['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
['Naik', 'delman', 'istimewa', 'kududuk', 'di', 'muka']
['Kududuk', 'samping', 'pak', 'jkusir', 'yg', 'sedang', 'bekerja']

In [92]:
#mencari kata dalam string

cari='pythonn'
if cari in nama:
    print("found!")
else:
    print("not found")

not found

In [97]:
cari=['pythonn', 'java', 'c']
for c in cari:
    if c in nama:
        print("found!")
    else:
        print("not found")

not found
not found
not found

In [98]:
#replace string
paragraf="pd hr ini saya bljr"
paragraf= paragraf.replace('pd','pada')
paragraf= paragraf.replace('hr','hari')
paragraf= paragraf.replace('bljr','belajar')
print(paragraf)

pada hari ini saya belajar

In [100]:
#panjang string, lowercase, uppercase

print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PHYTON
tutorial bahasa pemrograman phyton

In [103]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

[52, 2, 14, 10, 28, 92, 36, 91, 41, 66, 92, 52, 91, 2, 85, 60, 20, 38, 35, 41, 7, 36, 96, 12, 49, 85, 75, 77, 13, 60, 71, 61, 8, 88, 74, 38, 35, 54, 73, 55, 61, 93, 97, 81, 66, 53, 60, 91, 88, 56, 13, 49, 76, 26, 71, 3, 8, 74, 73, 14, 2, 9, 4, 41, 26, 58, 79, 11, 82, 30, 22, 72, 5, 73, 92, 83, 17, 44, 35, 40, 84, 5, 46, 48, 3, 2, 62, 44, 78, 32, 21, 48, 71, 58, 71, 42, 28, 70, 7, 24, 28, 63, 96, 92, 83, 6, 7, 47, 82, 93, 92, 48, 7, 96, 54, 16, 6, 15, 44, 76, 58, 75, 47, 97, 5, 32, 64, 80, 82, 42, 21, 26, 71, 1, 5, 43, 80, 56, 15, 41, 19, 19, 67, 16, 99, 95, 82, 53, 55, 34, 93, 9, 37, 87, 12, 7, 43, 80, 30, 7, 88, 20, 29, 40, 90, 2, 43, 26, 71, 38, 39, 66, 69, 21, 57, 87, 80, 43, 6, 28, 84, 89, 11, 11, 59, 12, 18, 62, 90, 12, 65, 99, 50, 2, 23, 91, 91, 45, 95, 21, 21, 46, 2, 25, 15, 98, 13, 33, 77, 72, 28, 50, 73, 3, 49, 47, 8, 60, 10, 46, 25, 78, 80, 52, 43, 48, 2, 14, 30, 68, 70, 8, 35, 12, 12, 55, 80, 98, 94, 72, 73, 79, 92, 2, 37, 39, 51, 84, 10, 19]

In [104]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)

Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.