In [1]:
# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

NameError: name 'random' is not defined

In [2]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

[32, 49, 34, 95, 90, 47, 16, 2, 7, 99, 14, 8, 76, 83, 87, 78, 75, 60, 22, 78, 20, 22, 13, 34, 16, 74, 9, 55, 95, 23, 87, 84, 69, 76, 75, 48, 32, 25, 39, 51, 5, 70, 31, 88, 79, 95, 29, 96, 86, 31, 88, 65, 10, 52, 6, 89, 13, 59, 89, 25, 63, 67, 99, 11, 20, 59, 76, 45, 80, 2, 8, 99, 97, 90, 75, 79, 26, 18, 10, 77, 85, 59, 12, 31, 36, 83, 81, 30, 37, 39, 98, 65, 84, 79, 75, 48, 12, 56, 98, 85, 11, 19, 73, 17, 65, 31, 33, 80, 76, 18, 98, 23, 52, 43, 33, 33, 86, 58, 11, 49, 94, 69, 45, 7, 12, 59, 33, 71, 31, 67, 79, 33, 41, 86, 6, 7, 23, 70, 39, 30, 36, 43, 32, 46, 88, 87, 65, 5, 17, 33, 21, 42, 69, 29, 17, 85, 95, 52, 53, 48, 7, 67, 94, 25, 31, 90, 34, 60, 8, 26, 90, 18, 37, 46, 51, 66, 76, 54, 28, 8, 37, 44, 37, 82, 6, 48, 8, 72, 17, 79, 4, 40, 10, 17, 73, 14, 91, 42, 59, 67, 78, 88, 99, 21, 57, 39, 91, 57, 5, 40, 12, 23, 79, 61, 86, 81, 71, 26, 56, 44, 82, 95, 78, 11, 29, 18, 58, 67, 17, 56, 36, 15, 46, 83, 4, 1, 53, 69, 6, 34, 92, 77, 76, 74, 32, 29, 59, 78, 68, 85]

In [8]:
banyak=0
for i in nilaiTugas:
    if i>70:
        banyak = banyak+1
print(banyak)

81

In [9]:
for i in nilaiTugas:
    if i%2!=0:
        print(i)

49
95
47
7
99
83
87
75
13
9
55
95
23
87
69
75
25
39
51
5
31
79
95
29
31
65
89
13
59
89
25
63
67
99
11
59
45
99
97
75
79
77
85
59
31
83
81
37
39
65
79
75
85
11
19
73
17
65
31
33
23
43
33
33
11
49
69
45
7
59
33
71
31
67
79
33
41
7
23
39
43
87
65
5
17
33
21
69
29
17
85
95
53
7
67
25
31
37
51
37
37
17
79
17
73
91
59
67
99
21
57
39
91
57
5
23
79
61
81
71
95
11
29
67
17
15
83
1
53
69
77
29
59
85

In [5]:
print(nilaiTugas[0])

NameError: name 'nilaiTugas' is not defined

In [7]:
print(nilaiTugas)

NameError: name 'nilaiTugas' is not defined

In [2]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

[16, 21, 59, 65, 38, 92, 90, 4, 84, 87, 57, 19, 56, 43, 9, 73, 64, 6, 91, 12, 95, 78, 86, 40, 89, 4, 82, 31, 26, 82, 6, 50, 63, 81, 96, 33, 34, 6, 4, 61, 64, 77, 64, 19, 85, 22, 10, 68, 56, 94, 27, 25, 13, 54, 95, 98, 85, 75, 18, 30, 99, 49, 45, 88, 74, 60, 16, 20, 78, 1, 92, 16, 91, 20, 87, 43, 38, 48, 18, 21, 23, 28, 36, 13, 75, 94, 52, 89, 97, 89, 41, 61, 20, 1, 55, 28, 36, 89, 83, 2, 57, 27, 40, 75, 67, 19, 11, 70, 53, 43, 8, 83, 38, 16, 70, 32, 36, 19, 9, 66, 31, 60, 56, 1, 60, 32, 78, 34, 57, 4, 49, 71, 21, 3, 91, 40, 57, 34, 44, 79, 73, 66, 55, 89, 39, 77, 18, 31, 82, 4, 63, 70, 55, 60, 86, 17, 37, 39, 64, 71, 33, 63, 42, 65, 33, 41, 85, 25, 23, 8, 55, 47, 36, 79, 33, 84, 67, 43, 33, 88, 62, 24, 4, 6, 54, 60, 35, 28, 74, 62, 82, 8, 91, 33, 90, 64, 75, 74, 75, 55, 41, 54, 92, 68, 92, 87, 57, 27, 43, 29, 6, 30, 52, 26, 30, 27, 18, 73, 74, 42, 53, 34, 46, 96, 87, 96, 96, 53, 65, 67, 95, 62, 67, 1, 15, 86, 37, 65, 47, 77, 40, 19, 86, 31, 34, 91, 63, 48, 43, 70]

In [9]:
for i in nilaiTugas:
    if i%2!=0:
        print(i)

99
23
91
99
3
93
31
39
55
37
87
71
55
51
15
41
27
9
1
57
39
99
63
97
5
15
99
45
81
93
55
65
7
1
1
67
13
3
65
93
63
79
21
35
37
81
75
41
79
77
83
53
17
25
45
87
15
75
87
15
45
97
93
85
61
47
71
47
53
17
91
77
35
29
93
47
37
47
3
53
17
77
41
1
61
9
89
91
79
37
81
63
9
93
61
9
21
87
9
23
47
43
91
21
75
29
35
31
43
79
39
41
45
95
25
73
43
19
1
83
45
49
79
73
69
3
49

In [10]:
banyak=0
for i in nilaiTugas:
    if i>70:
        banyak = banyak+1
print(banyak)

79

In [13]:
print(nilaiTugas)

[22, 56, 22, 99, 23, 82, 24, 91, 99, 66, 3, 52, 93, 31, 39, 55, 48, 37, 32, 87, 94, 71, 55, 51, 15, 41, 27, 14, 9, 1, 96, 57, 34, 39, 86, 99, 66, 28, 63, 38, 97, 14, 5, 76, 15, 99, 45, 2, 6, 76, 30, 81, 93, 55, 65, 78, 14, 10, 90, 20, 96, 7, 54, 18, 64, 1, 96, 1, 67, 76, 80, 13, 64, 94, 3, 10, 18, 74, 32, 65, 50, 93, 63, 79, 70, 21, 35, 10, 37, 81, 4, 36, 75, 70, 41, 79, 94, 50, 28, 77, 83, 53, 78, 74, 17, 25, 45, 87, 56, 96, 15, 75, 94, 87, 52, 15, 84, 45, 97, 93, 72, 24, 85, 28, 61, 90, 66, 14, 47, 62, 71, 47, 53, 17, 91, 50, 24, 77, 30, 16, 35, 29, 88, 76, 93, 16, 47, 80, 37, 76, 47, 3, 53, 17, 56, 74, 77, 41, 1, 61, 9, 14, 50, 34, 90, 90, 89, 66, 91, 79, 12, 24, 16, 37, 81, 46, 63, 9, 93, 96, 76, 30, 61, 4, 9, 21, 87, 10, 9, 23, 47, 43, 88, 92, 91, 66, 82, 44, 21, 36, 75, 26, 29, 8, 2, 22, 28, 10, 42, 6, 94, 35, 8, 31, 43, 79, 39, 68, 41, 66, 45, 60, 95, 25, 64, 24, 73, 40, 50, 43, 26, 4, 19, 1, 12, 83, 45, 52, 49, 42, 79, 96, 73, 46, 40, 44, 26, 69, 3, 49]

In [17]:
maks=nilaiTugas[0]
for i in nilaiTugas:
    if i> maks:
        maks=i
print (maks)

99

In [17]:
for i in nilaiTugas:
    if i%2!=0:
        print(i )

21
59
65
87
57
19
43
9
73
91
95
89
31
63
81
33
61
77
19
85
27
25
13
95
85
75
99
49
45
1
91
87
43
21
23
13
75
89
97
89
41
61
1
55
89
83
57
27
75
67
19
11
53
43
83
19
9
31
1
57
49
71
21
3
91
57
79
73
55
89
39
77
31
63
55
17
37
39
71
33
63
65
33
41
85
25
23
55
47
79
33
67
43
33
35
91
33
75
75
55
41
87
57
27
43
29
27
73
53
87
53
65
67
95
67
1
15
37
65
47
77
19
31
91
63
43

In [18]:
mini=nilaiTugas[0]
for i in nilaiTugas:
    if i< mini:
        mini=i
print (mini)

1

In [11]:
# 1. Menentukan nilai rerata
total = 0
jumlah_data = len(nilaiTugas)
for i in nilaiTugas:
    total = total + float(i)
rerata = total / jumlah_data
print("- Jumlah Data: ", jumlah_data)
print("- Rerata : ", rerata)

# 2. Hitung Selisih data dengan Rata-rata, kemudian dikuadratkan
# 3. Jumlahkan seluruh kuadrat dari selisih data dan rata-rata
jumlah_selisih_rerata_kuadrat=0
for i in nilaiTugas:
    selisih = i - rerata
    kuadrat = selisih**2
jumlah_selisih_rerata_kuadrat=jumlah_selisih_rerata_kuadrat+kuadrat
print("- Jumlah (data - rata-rata)**2 : ",jumlah_selisih_rerata_kuadrat)

# 4. Hasil No 3 dibagi dengan (Jumlah Populasi - 1) atau Jumlah populasi ya?
varian = jumlah_selisih_rerata_kuadrat / (jumlah_data - 1)
print("- Varian : ", varian)

# 5. Akar kan Hasilnya
std = varian**(1/2)
print("- Standard Deviasinya adalah ", std)

- Jumlah Data:  250
- Rerata :  50.588
- Jumlah (data - rata-rata)**2 :  383.689744
- Varian :  1.5409226666666667
- Standard Deviasinya adalah  1.2413390619273474

In [24]:
a=[1,5,9,3,7,3,8,9,4]
i = 0
while i < len(a):
    print (a[i])
    i = i + 3

1
3
8

In [17]:
for i in nilaiTugas:
    if i%2!=0:
        print( i)

41
41
17
75
11
25
75
41
1
43
85
31
35
47
91
95
33
61
21
71
67
3
23
55
89
47
83
53
83
33
61
31
71
69
81
49
75
63
69
79
81
59
85
95
45
59
45
93
9
77
11
71
7
35
87
91
13
63
89
63
99
61
61
79
49
11
81
61
75
59
25
77
97
55
17
11
99
53
43
43
95
95
77
1
93
67
1
73
11
71
51
73
65
95
37
9
67
53
53
7
21
69
17
9
67
31
85
45
97
33
77
95
53
35
25
77
33
37
95
63
1
79
23
3
45
89
35
95

In [18]:
banyak=0
for i in nilaiTugas:
    if i>70:
        banyak = banyak+1
print('Nilai yang lebih dari 70 adalah sebanyak ',banyak)

Nilai yang lebih dari 70 adalah sebanyak  86

In [19]:

maks=nilaiTugas[0]
for i in nilaiTugas:
    if i> maks:
        maks=i
print ('Nilai maksimumnya sebesar',maks)

Nilai maksimumnya sebesar 99

In [20]:
mini=nilaiTugas[0]
for i in nilaiTugas:
    if i< mini:
        mini=i
print ('Nilai minimumnya sebesar',mini)

Nilai minimumnya sebesar 1

In [21]:

# 1. Menentukan nilai rerata
total = 0
jumlah_data = len(nilaiTugas)
for i in nilaiTugas:
    total = total + float(i)
rerata = total / jumlah_data

# 2. Hitung Selisih data dengan Rata-rata, kemudian dikuadratkan
# 3. Jumlahkan seluruh kuadrat dari selisih data dan rata-rata
jumlah_selisih_rerata_kuadrat=0
for i in nilaiTugas:
    selisih = i - rerata
    kuadrat = selisih**2
jumlah_selisih_rerata_kuadrat=jumlah_selisih_rerata_kuadrat+kuadrat


# 4. Hasil No 3 dibagi dengan (Jumlah Populasi - 1) atau Jumlah populasi ya?
varian = jumlah_selisih_rerata_kuadrat / (jumlah_data - 1)


# 5. Akar kan Hasilnya
std = varian**(1/2)
print("- Standard Deviasinya adalah ", std)

- Standard Deviasinya adalah  2.6961164514313385

In [22]:

# nilai > 70

banyak=0
for i in nilaiTugas:
    if i>70:
        banyak = banyak+1
print('Nilai yang lebih dari 70 adalah sebanyak',banyak)

# standar deviasi

# 1. Menentukan nilai rerata
total = 0
jumlah_data = len(nilaiTugas)
for i in nilaiTugas:
    total = total + float(i)
rerata = total / jumlah_data

# 2. Hitung Selisih data dengan Rata-rata, kemudian dikuadratkan
# 3. Jumlahkan seluruh kuadrat dari selisih data dan rata-rata
jumlah_selisih_rerata_kuadrat=0
for i in nilaiTugas:
    selisih = i - rerata
    kuadrat = selisih**2
jumlah_selisih_rerata_kuadrat=jumlah_selisih_rerata_kuadrat+kuadrat


# 4. Hasil No 3 dibagi dengan (Jumlah Populasi - 1) atau Jumlah populasi ya?
varian = jumlah_selisih_rerata_kuadrat / (jumlah_data - 1)


# 5. Akar kan Hasilnya
std = varian**(1/2)
print("Standard Deviasinya adalah ", std)

# maksimum

maks=nilaiTugas[0]
for i in nilaiTugas:
    if i> maks:
        maks=i
print ('Nilai maksimumnya adalah',maks)

# minimum

mini=nilaiTugas[0]
for i in nilaiTugas:
    if i< mini:
        mini=i
print ('Nilai minimumnya adalah',mini)
# modus

Nilai yang lebih dari 70 adalah sebanyak 86
Standard Deviasinya adalah  2.6961164514313385
Nilai maksimumnya adalah 99
Nilai minimumnya adalah 1

In [28]:

#GENERATE RANDOM
import random


nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

[98, 66, 48, 80, 76, 59, 17, 98, 2, 47, 92, 65, 23, 29, 75, 78, 86, 11, 37, 99, 56, 52, 38, 1, 93, 72, 56, 24, 22, 91, 63, 48, 79, 4, 14, 90, 13, 64, 85, 82, 57, 98, 55, 28, 1, 97, 27, 72, 23, 71, 40, 54, 58, 31, 24, 90, 52, 38, 5, 65, 23, 40, 16, 13, 99, 17, 7, 50, 4, 95, 24, 22, 47, 52, 10, 34, 9, 20, 37, 28, 5, 30, 18, 19, 40, 91, 77, 86, 17, 20, 62, 81, 31, 32, 23, 67, 80, 58, 92, 88, 63, 94, 19, 20, 88, 38, 3, 65, 75, 25, 92, 31, 50, 98, 42, 19, 92, 76, 4, 22, 26, 51, 46, 9, 95, 92, 18, 70, 2, 42, 25, 53, 29, 61, 49, 22, 23, 56, 76, 90, 30, 50, 26, 7, 77, 99, 12, 88, 71, 64, 53, 43, 95, 97, 89, 28, 38, 98, 13, 56, 95, 39, 4, 13, 25, 38, 26, 61, 42, 26, 87, 41, 55, 73, 20, 57, 89, 44, 13, 24, 15, 74, 91, 12, 46, 88, 84, 75, 91, 89, 72, 64, 66, 10, 80, 79, 21, 20, 50, 4, 9, 25, 49, 28, 71, 16, 25, 58, 93, 91, 97, 68, 51, 81, 2, 65, 52, 96, 86, 35, 10, 78, 3, 5, 87, 58, 37, 30, 20, 40, 70, 44, 86, 92, 98, 99, 65, 40, 85, 45, 81, 79, 57, 83, 25, 54, 23, 60, 41, 91]

  1. Tampilkan Angka Ganjil dari ke 250 nilai tersebut

In [32]:
# ganjil
nilai_ganjil=[]
for i in nilaiTugas:
    if i%2!=0:
        nilai_ganjil.append(i)
print('Nilai Ganjil dalam barisan tersebut adalah ', nilai_ganjil)

Nilai Ganjil dalam barisan tersebut adalah  [59, 17, 47, 65, 23, 29, 75, 11, 37, 99, 1, 93, 91, 63, 79, 13, 85, 57, 55, 1, 97, 27, 23, 71, 31, 5, 65, 23, 13, 99, 17, 7, 95, 47, 9, 37, 5, 19, 91, 77, 17, 81, 31, 23, 67, 63, 19, 3, 65, 75, 25, 31, 19, 51, 9, 95, 25, 53, 29, 61, 49, 23, 7, 77, 99, 71, 53, 43, 95, 97, 89, 13, 95, 39, 13, 25, 61, 87, 41, 55, 73, 57, 89, 13, 15, 91, 75, 91, 89, 79, 21, 9, 25, 49, 71, 25, 93, 91, 97, 51, 81, 65, 35, 3, 5, 87, 37, 99, 65, 85, 45, 81, 79, 57, 83, 25, 23, 41, 91]

2. Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70

In [31]:
# nilai > 70

banyak=0
for i in nilaiTugas:
    if i>70:
        banyak = banyak+1
print('Nilai yang lebih dari 70 adalah sebanyak',banyak)

Nilai yang lebih dari 70 adalah sebanyak 81

3. Tampilkan standar deviasi dari sekumpulan nilai tersebut

In [33]:
# standar deviasi

total = 0
jumlah_data = len(nilaiTugas)
for i in nilaiTugas:
    total = total + float(i)
rerata = total / jumlah_data

jumlah_selisih_rerata_kuadrat=0
for i in nilaiTugas:
    selisih = i - rerata
    kuadrat = selisih**2
jumlah_selisih_rerata_kuadrat=jumlah_selisih_rerata_kuadrat+kuadrat

varian = jumlah_selisih_rerata_kuadrat / (jumlah_data)
std = varian**(1/2)
print("Standard Deviasinya adalah ", std)

Standard Deviasinya adalah  2.528557217070636

4. Tampilkan nilai maksimum dan minimum

In [37]:
# maksimum

maks=nilaiTugas[0]
for i in nilaiTugas:
    if i> maks:
        maks=i

# minimum

mini=nilaiTugas[0]
for i in nilaiTugas:
    if i< mini:
        mini=i
print ('Nilai maksimumnya adalah',maks,'dan nilai minimumnya adalah',mini)

Nilai maksimumnya adalah 99 dan nilai minimumnya adalah 1

5. Tampilkan modus dari sekumpulan nilai tersebut

In [40]:
#Tugas Word Count

paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."

my_string = paragraf.lower().split()
my_dict = {}
for item in my_string:
    if item in my_dict:
        my_dict[item]= my_dict[item]+1
    else:
        my_dict[item] = 1
print(my_dict)

{'barcelona': 2, 'berhasil': 1, 'merebut': 1, 'posisi': 1, 'puncak': 1, 'klasemen': 1, 'la': 1, 'liga': 1, 'spanyol': 1, 'seusai': 1, 'menang': 1, '4-2': 1, 'atas': 1, 'sevilla': 1, 'pada': 3, 'pertandingan': 1, 'pekan': 1, 'kesembilan': 1, 'di': 1, 'stadion': 1, 'camp': 1, 'nou,': 1, 'sabtu': 1, '(20/10/2018)': 1, 'atau': 1, 'minggu': 1, 'dini': 1, 'hari': 1, 'wib.': 1, 'membuka': 1, 'keunggulan': 2, 'menit': 3, 'ke-2': 1, 'melalui': 1, 'gol': 1, 'yang': 1, 'dicetak': 1, 'oleh': 1, 'philippe': 1, 'coutinho.': 1, 'lionel': 1, 'messi': 2, 'menggandakan': 1, 'barcelona,': 2, '10': 1, 'berselang.': 1, 'namun,': 1, 'nahas': 1, 'bagi': 1, 'karena': 1, 'harus': 1, 'ditarik': 1, 'keluar': 1, 'ke-26': 1, 'setelah': 1, 'mengalami': 1, 'cedera.': 1, 'tanpa': 1, 'messi,': 1, 'skor': 1, '2-0': 1, 'bertahan': 1, 'hingga': 1, 'babak': 1, 'pertama': 1, 'berakhir.': 1}

In [46]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)

Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.

In [48]:

#menjadikan tulisan pada paragraf tersebut menjadi huruf kecil semua
hurufkecil = paragraf.lower()

#menghapus karakter titik dalam paragraf
titik = hurufkecil.replace('.',' ')

#menghapus karakter koma dalam paragraf
koma = titik.replace(',', ' ')

#menghapus karakter garis miring dalam paragraf
garing = koma.replace('/', ' ')

#menghapus karakter kurung buka dalam paragraf
kurungb = garing.replace('(', ' ')

#menghapus kurung tutup dalam paragraf
kurungt = kurungb.replace(')',' ')

#menghapus karakter dash dalam paragraf
strip = kurungt.replace('-',' ')


#memisahkan tiap kata (tokenizing) dalam paragraf
splitkata = strip.split()

#menampilkan hasil akhir pemisahan menjadi per kata
print(splitkata)

['barcelona', 'berhasil', 'merebut', 'posisi', 'puncak', 'klasemen', 'la', 'liga', 'spanyol', 'seusai', 'menang', '4', '2', 'atas', 'sevilla', 'pada', 'pertandingan', 'pekan', 'kesembilan', 'di', 'stadion', 'camp', 'nou', 'sabtu', '20', '10', '2018', 'atau', 'minggu', 'dini', 'hari', 'wib', 'barcelona', 'membuka', 'keunggulan', 'pada', 'menit', 'ke', '2', 'melalui', 'gol', 'yang', 'dicetak', 'oleh', 'philippe', 'coutinho', 'lionel', 'messi', 'menggandakan', 'keunggulan', 'barcelona', '10', 'menit', 'berselang', 'namun', 'nahas', 'bagi', 'barcelona', 'karena', 'messi', 'harus', 'ditarik', 'keluar', 'pada', 'menit', 'ke', '26', 'setelah', 'mengalami', 'cedera', 'tanpa', 'messi', 'skor', '2', '0', 'bertahan', 'hingga', 'babak', 'pertama', 'berakhir']

In [49]:
dict1={}
for i in splitkata:
    if i in dict1:
        dict1[i]=dict1[i]+1
    else:
        dict1[i]=1

print('Jumlah Kata:')
for kata,jmlh in dict1.items():
    print(kata+'->',jmlh)

Jumlah Kata:
barcelona-> 4
berhasil-> 1
merebut-> 1
posisi-> 1
puncak-> 1
klasemen-> 1
la-> 1
liga-> 1
spanyol-> 1
seusai-> 1
menang-> 1
4-> 1
2-> 3
atas-> 1
sevilla-> 1
pada-> 3
pertandingan-> 1
pekan-> 1
kesembilan-> 1
di-> 1
stadion-> 1
camp-> 1
nou-> 1
sabtu-> 1
20-> 1
10-> 2
2018-> 1
atau-> 1
minggu-> 1
dini-> 1
hari-> 1
wib-> 1
membuka-> 1
keunggulan-> 2
menit-> 3
ke-> 2
melalui-> 1
gol-> 1
yang-> 1
dicetak-> 1
oleh-> 1
philippe-> 1
coutinho-> 1
lionel-> 1
messi-> 3
menggandakan-> 1
berselang-> 1
namun-> 1
nahas-> 1
bagi-> 1
karena-> 1
harus-> 1
ditarik-> 1
keluar-> 1
26-> 1
setelah-> 1
mengalami-> 1
cedera-> 1
tanpa-> 1
skor-> 1
0-> 1
bertahan-> 1
hingga-> 1
babak-> 1
pertama-> 1
berakhir-> 1